@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:shadow-2xl:hover {
  box-shadow: 0 0 25px rgba(255, 165, 0, 0.8);
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.8);
  }
}

.hover\:shadow-glow:hover {
  animation: glow 1.5s infinite;
}
